/*El body es toda la pagina*/
body{
    background-image: url(../reloj/tierra_agua_pixabay.jpg);
    background-size: cover;/*el tamaño de la imagen que avarcara en la pagina,  el cover hace que se expanda todo*/
}
.reloj-container{
    /*Diseño del reloj*/
    color: rgba(210,210,210,.6);
    width: 100%;
    background-color: rgba(5,5,5,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    border-radius: 20px; /*El borde del reloj o el contorno*/
    transition:transform .7s;/*el tiempo que tarda en hacercase el reloj del efecto*/
    cursor: pointer;/*Esto hace que el maus tenga que seleccionarlo*/
}
.container{
    /*diseño del reloj*/
    height: 100vh; 
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    /*Es el texto que inserte*/
    color: rgb(161, 0, 0);
    text-align: center;
 
}

.reloj-container:hover{/*Esto le da el efecto de acercamiento de la hora*/
    transform: scale(1.3);
}

.hora{
    font-size: 70px;/*Definimos el tamaño de los numeros*/
}
